{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h2>My Events</h2>

    {% if events %}
        <ul class="events">
            {% for event in events %}
                <li>
                    <div class="date">
                        <div class="day">{{ event.day }}</div>
                        <div class="time">{{ event.time }}</div>
                    </div>
                    <div class="details">
                        <span class="description">{{ event.description }}</span><br />
                        <span class="location">Location: {{ event.location }}</span><br />
                        <span class="status">Status: {{ event.status }}</span>
                    </div>
                    <div>
                        <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{{ url_for('delete_event', event_id=event.id) }}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no events yet.</p>
    {% endif %}
</div>

{% endblock content %}
